<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>图表</title>

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->

</head>

<body>

  <div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="index.html">Bootstrap Admin</a>
      </div>
      <!-- /.navbar-header -->

      <ul class="nav navbar-top-links navbar-right">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="fa fa-envelope fa-fw"></i> <i class="fa fa-caret-down"></i>
          </a>
          <ul class="dropdown-menu dropdown-messages">
            <li>
              <a href="#">
                <div>
                  <strong>Jusfoun</strong>
                  <span class="pull-right text-muted"><em>昨天</em></span>
                </div>
                <div>副总理马凯检查指导...</div>
              </a>
            </li>
            <li class="divider"></li>
            <li>
              <a href="#">
                <div>
                  <strong>Jusfoun</strong>
                  <span class="pull-right text-muted"><em>昨天</em></span>
                </div>
                <div>副总理马凯检查指导......</div>
              </a>
            </li>
            <li class="divider"></li>
            <li>
              <a href="#">
                <div>
                  <strong>Jusfoun</strong>
                  <span class="pull-right text-muted"><em>昨天</em></span>
                </div>
                <div>副总理马凯检查指导......</div>
              </a>
            </li>
            <li class="divider"></li>
            <li>
              <a class="text-center" href="#">
                <strong>阅读所有信息</strong>
                <i class="fa fa-angle-right"></i>
              </a>
            </li>
          </ul>
          <!-- /.dropdown-messages -->
        </li>
        <!-- /.dropdown -->
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="fa fa-tasks fa-fw"></i> <i class="fa fa-caret-down"></i>
          </a>
          <ul class="dropdown-menu dropdown-tasks">
            <li>
              <a href="#">
                <div>
                  <p>
                    <strong>任务 1</strong>
                    <span class="pull-right text-muted">40% 完成</span>
                  </p>
                  <div class="progress progress-striped active">
                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"
                      style="width: 40%">
                      <span class="sr-only">40% 完成 (成功)</span>
                    </div>
                  </div>
                </div>
              </a>
            </li>
            <li class="divider"></li>
            <li>
              <a href="#">
                <div>
                  <p>
                    <strong>任务 2</strong>
                    <span class="pull-right text-muted">20% 完成</span>
                  </p>
                  <div class="progress progress-striped active">
                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                      <span class="sr-only">20% 完成</span>
                    </div>
                  </div>
                </div>
              </a>
            </li>
            <li class="divider"></li>
            <li>
              <a href="#">
                <div>
                  <p>
                    <strong>任务 3</strong>
                    <span class="pull-right text-muted">60% 完成</span>
                  </p>
                  <div class="progress progress-striped active">
                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                      style="width: 60%">
                      <span class="sr-only">60% 完成 (警告)</span>
                    </div>
                  </div>
                </div>
              </a>
            </li>
            <li class="divider"></li>
            <li>
              <a href="#">
                <div>
                  <p>
                    <strong>任务 4</strong>
                    <span class="pull-right text-muted">80% 完成</span>
                  </p>
                  <div class="progress progress-striped active">
                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"
                      style="width: 80%">
                      <span class="sr-only">80% 完成 (危险)</span>
                    </div>
                  </div>
                </div>
              </a>
            </li>
            <li class="divider"></li>
            <li>
              <a class="text-center" href="#">
                <strong>所有任务</strong>
                <i class="fa fa-angle-right"></i>
              </a>
            </li>
          </ul>
          <!-- /.dropdown-tasks -->
        </li>
        <!-- /.dropdown -->
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="fa fa-bell fa-fw"></i> <i class="fa fa-caret-down"></i>
          </a>
          <ul class="dropdown-menu dropdown-alerts">
            <li>
              <a href="#">
                <div>
                  <i class="fa fa-comment fa-fw"></i> 新评论
                  <span class="pull-right text-muted small">4 分钟前</span>
                </div>
              </a>
            </li>
            <li class="divider"></li>
            <li>
              <a href="#">
                <div>
                  <i class="fa fa-twitter fa-fw"></i> 3 个赞
                  <span class="pull-right text-muted small">12 分钟前</span>
                </div>
              </a>
            </li>
            <li class="divider"></li>
            <li>
              <a href="#">
                <div>
                  <i class="fa fa-envelope fa-fw"></i> 发送留言
                  <span class="pull-right text-muted small">4 分钟前</span>
                </div>
              </a>
            </li>
            <li class="divider"></li>
            <li>
              <a href="#">
                <div>
                  <i class="fa fa-tasks fa-fw"></i> 新任务
                  <span class="pull-right text-muted small">4 分钟前</span>
                </div>
              </a>
            </li>
            <li class="divider"></li>
            <li>
              <a href="#">
                <div>
                  <i class="fa fa-upload fa-fw"></i> 服务重新启动
                  <span class="pull-right text-muted small">4 分钟前</span>
                </div>
              </a>
            </li>
            <li class="divider"></li>
            <li>
              <a class="text-center" href="#">
                <strong>查看全部提醒</strong>
                <i class="fa fa-angle-right"></i>
              </a>
            </li>
          </ul>
          <!-- /.dropdown-alerts -->
        </li>
        <!-- /.dropdown -->
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
          </a>
          <ul class="dropdown-menu dropdown-user">
            <li><a href="#"><i class="fa fa-user fa-fw"></i> 用户简介</a>
            </li>
            <li><a href="#"><i class="fa fa-gear fa-fw"></i> 设置</a>
            </li>
            <li class="divider"></li>
            <li><a href="login.html"><i class="fa fa-sign-out fa-fw"></i> 登出</a>
            </li>
          </ul>
          <!-- /.dropdown-user -->
        </li>
        <!-- /.dropdown -->
      </ul>
      <!-- /.navbar-top-links -->

      <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
          <ul class="nav" id="side-menu">
            <li class="sidebar-search">
              <div class="input-group custom-search-form">
                <input type="text" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button">
                    <i class="fa fa-search"></i>
                  </button>
                </span>
              </div>
              <!-- /input-group -->
            </li>
            <li>
              <a href="index.html"><i class="fa fa-dashboard fa-fw"></i>仪表盘</a>
            </li>
            <li class="active">
              <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i>图表<span class="fa arrow"></span></a>
              <ul class="nav nav-second-level">
                <li>
                  <a class="active" href="ddd.html">ddd</a>
                </li>
              </ul>
              <!-- /.nav-second-level -->
            </li>
            <li>
              <a href="tables.html"><i class="fa fa-table fa-fw"></i> 表格</a>
            </li>
            <li>
              <a href="forms.html"><i class="fa fa-edit fa-fw"></i> 表单</a>
            </li>
            <li>
              <a href="#"><i class="fa fa-wrench fa-fw"></i> UI 组件<span class="fa arrow"></span></a>
              <ul class="nav nav-second-level">
                <li>
                  <a href="panels-wells.html">面板和Wells</a>
                </li>
                <li>
                  <a href="buttons.html">按钮</a>
                </li>
                <li>
                  <a href="notifications.html">通知</a>
                </li>
                <li>
                  <a href="typography.html">排版</a>
                </li>
                <li>
                  <a href="icons.html"> 图表</a>
                </li>
                <li>
                  <a href="grid.html">栅格</a>
                </li>
              </ul>
              <!-- /.nav-second-level -->
            </li>
            <li>
              <a href="#"><i class="fa fa-sitemap fa-fw"></i> 多级下拉菜单<span class="fa arrow"></span></a>
              <ul class="nav nav-second-level">
                <li>
                  <a href="#">二级条目</a>
                </li>
                <li>
                  <a href="#">二级条目</a>
                </li>
                <li>
                  <a href="#">我还有子页面哦 <span class="fa arrow"></span></a>
                  <ul class="nav nav-third-level">
                    <li>
                      <a href="#">三级条目</a>
                    </li>
                    <li>
                      <a href="#">三级条目</a>
                    </li>
                    <li>
                      <a href="#">三级条目</a>
                    </li>
                    <li>
                      <a href="#">三级条目</a>
                    </li>
                  </ul>
                  <!-- /.nav-third-level -->
                </li>
              </ul>
              <!-- /.nav-second-level -->
            </li>
            <li>
              <a href="#"><i class="fa fa-files-o fa-fw"></i> 示例页面<span class="fa arrow"></span></a>
              <ul class="nav nav-second-level">
                <li>
                  <a href="blank.html">空白页面</a>
                </li>
                <li>
                  <a href="login.html">登录页面</a>
                </li>
              </ul>
              <!-- /.nav-second-level -->
            </li>
          </ul>
        </div>
        <!-- /.sidebar-collapse -->
      </div>
      <!-- /.navbar-static-side -->
    </nav>

    <!-- Page Content -->
    <div id="page-wrapper">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12">
            <h1 class="page-header">DDD</h1>
          </div>
          <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
          <div class="col-lg-12 d3-circle"></div>
        </div>
        <!-- /.row -->
        <div class="row">
          <div class="col-lg-12 custom-interpolator">
            <div id="dollar" class="clear">
              <span>Custom Dollar Interpolation<br></span>
            </div>
            <div id="alphabet" class="clear">
              <span>Custom Alphabet Interpolation<br></span>
            </div>
          </div>
          <div class="col-lg-12 compound-interpolation">
            <div id="compound" class="clear">
              <span>Compound Interpolation<br></span>
            </div>
          </div>
          <div class="col-lg-12 color-interpolation">
            <div id="color" class="clear">
              <span>Linear Color Interpolation<br></span>
            </div>
            <div id="color-diverge" class="clear">
              <span>Poly-Linear Color Interpolation<br></span>
            </div>
            <div class="control-group clear" id="color-interpolation">
              <button value=5>Pivot at 5</button>
              <button value=10>Pivot at 10</button>
              <button value=15>Pivot at 15</button>
              <button value=20>Pivot at 20</button>
            </div>
          </div>
          <div class="col-lg-12 string-interpolation">
            <div id="font" class="clear">
              <span>Font Interpolation<br></span>
            </div>
          </div>
          <div class="col-lg-12 ordinal-scale">
            <div id="alphabet" class="clear">
              <span>Ordinal Scale with Alphabet<br></span>
              <span>Mapping [1..10] to ["a".."j"]<br></span>
            </div>
            <div id="category10" class="clear">
              <span>Ordinal Color Scale Category 10<br></span>
              <span>Mapping [1..10] to category 10 colors<br></span>
            </div>
            <div id="category20" class="clear">
              <span>Ordinal Color Scale Category 20<br></span>
              <span>Mapping [1..10] to category 20 colors<br></span>
            </div>
            <div id="category20b" class="clear">
              <span>Ordinal Color Scale Category 20b<br></span>
              <span>Mapping [1..10] to category 20b colors<br></span>
            </div>
            <div id="category20c" class="clear">
              <span>Ordinal Color Scale Category 20c<br></span>
              <span>Mapping [1..10] to category 20c colors<br></span>
            </div>
          </div>
          <div class="col-lg-12 time-scale">
            <div id="time" class="clear" style="margin-bottom:80px;">
              <span>Linear Time Progression<br></span>
              <span>Mapping [01/01/2013, 12/31/2013] to [0, 1200]<br></span>
            </div>
          </div>
          <div class="col-lg-12 quantitative-scales">
            <div id="linear" class="clear"><span>n</span></div>
            <div id="linear-capped" class="clear">
              <span>1 &lt;= a*n + b &lt;= 20</span>
            </div>
            <div id="pow" class="clear"><span>n^2</span></div>
            <div id="pow-capped" class="clear">
              <span>1 &lt;= a*n^2 + b &lt;= 10</span>
            </div>
            <div id="log" class="clear"><span>log(n)</span></div>
            <div id="log-capped" class="clear">
              <span>1 &lt;= a*log(n) + b &lt;= 10</span>
            </div>
          </div>
        </div>
        <!-- /.row -->
        <div class="row">
          <div class="col-lg-6 asyn-data-load">
            <div id="chart"></div>
            <div class="control-group">
              <button id='asyn-data-load'>Load Data from JSON feed</button>
            </div>
          </div>
          <div class="col-lg-6 data-sort">
            <div class="control-group" id="data-sort">
              <button value="compareByExpense">
                  Sort by Width
              </button>
              <button value="compareByCategory">
                  Sort by Category
              </button>
              <button>
                  Clear
              </button>
            </div>
          </div>
          <div class="col-lg-6 data-filter">
            <div class="control-group" id="data-filter">
              <button>
                  Retail
              </button>
              <button>
                  Gas
              </button>
              <button>
                  Dining
              </button>
              <button>
                  Clear
              </button>
            </div>
          </div>
          <div class="col-lg-12 working-with-array">
            <div class="code">var array = [3, 2, 11, 7, 6, 4, 10, 8, 15]</div>

            <div>d3.min => <span id="min"></span></div>
            <div>d3.max => <span id="max"></span></div>
            <div>d3.extent => <span id="extent"></span></div>
            <div>d3.sum => <span id="sum"></span></div>
            <div>d3.median => <span id="median"></span></div>
            <div>d3.mean => <span id="mean"></span></div>
            <div>array.sort(d3.ascending) => <span id="asc"></span></div>
            <div>array.sort(d3.descending) => <span id="desc"></span></div>
            <div>d3.quantile(array.sort(d3.ascending), 0.25) => <span id="quantile"></span></div>
            <div>d3.bisect(array.sort(d3.ascending), 6) => <span id="bisect"></span></div>

            <div class="code">
              <pre>
                var records = [ {date: "2011-11-14T16:17:54Z", quantity: 2, total: 190, tip: 100, type: "tab"}, {date: "2011-11-14T16:20:19Z",
                quantity: 2, total: 190, tip: 100, type: "tab"}, {date: "2011-11-14T16:28:54Z", quantity: 1, total: 300,
                tip: 200, type: "visa"}, {date: "2011-11-14T16:30:43Z", quantity: 2, total: 90, tip: 0, type: "tab"}, {date:
                "2011-11-14T16:48:46Z", quantity: 2, total: 90, tip: 0, type: "tab"}, {date: "2011-11-14T16:53:41Z", quantity:
                2, total: 90, tip: 0, type: "tab"}, {date: "2011-11-14T16:54:06Z", quantity: 1, total: 100, tip: 0, type:
                "cash"}, {date: "2011-11-14T16:58:03Z", quantity: 2, total: 90, tip: 0, type: "tab"}, {date: "2011-11-14T17:07:21Z",
                quantity: 2, total: 90, tip: 0, type: "tab"}, {date: "2011-11-14T17:22:59Z", quantity: 2, total: 90, tip:
                0, type: "tab"}, {date: "2011-11-14T17:25:45Z", quantity: 2, total: 200, tip: 0, type: "cash"}, {date: "2011-11-14T17:29:52Z",
                quantity: 1, total: 200, tip: 100, type: "visa"} ]; d3.nest() .key(function(d){return d.type;}) .key(function(d){
                return d.tip;}) .entries(records) =>
              </pre>
            </div>
            <div>
              <pre id="nest"></pre>
            </div>
          </div>
          <div class="col-lg-6 function-as-data">
          </div>
          <div class="col-lg-6 object-as-data">
          </div>
          <div class="col-lg-6 array-as-data">
          </div>
        </div>
        <!-- /.row -->
        <div class="row">
          <div class="col-lg-12 raw-selection">
            <table class="table">
              <thead>
                <tr>
                  <th>Time</th>
                  <th>Type</th>
                  <th>Amount</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>10:22</td>
                  <td>Purchase</td>
                  <td>$10.00</td>
                </tr>
                <tr>
                  <td>12:12</td>
                  <td>Purchase</td>
                  <td>$12.50</td>
                </tr>
                <tr>
                  <td>14:11</td>
                  <td>Expense</td>
                  <td>$9.70</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-lg-6 function-chain">
          </div>
          <div class="col-lg-6 sub-selection">
            <section id="section1">
              <div>
                <p>blue box</p>
              </div>
            </section>
            <section id="section2">
              <div>
                <p>red box</p>
              </div>
            </section>
          </div>
          <div class="col-lg-12 selection-iteration">
            <div></div>
            <div></div>
            <div></div>
          </div>
          <div class="col-lg-2 single-selection">
            <p id="target"></p>
          </div>
          <div class="col-lg-10 multiple-selection">
            <div></div>
            <div></div>
            <div></div>
          </div>
        </div>
        <!-- /.row -->
        <div class="row">
          <div class="col-lg-12 functional-js"></div>
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </div>
    <!-- /#page-wrapper -->

  </div>
  <!-- /#wrapper -->

</body>

</html>
