<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>空白页</title>

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

  <div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="index.html">Bootstrap Admin</a>
      </div>
      <!-- /.navbar-header -->

      <ul class="nav navbar-top-links navbar-right">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="fa fa-envelope fa-fw"></i> <i class="fa fa-caret-down"></i>
          </a>
          <ul class="dropdown-menu dropdown-messages">
            <li>
              <a href="#">
                <div>
                  <strong>Jusfoun</strong>
                  <span class="pull-right text-muted"><em>昨天</em></span>
                </div>
                <div>副总理马凯检查指导...</div>
              </a>
            </li>
            <li class="divider"></li>
            <li>
              <a href="#">
                <div>
                  <strong>Jusfoun</strong>
                  <span class="pull-right text-muted"><em>昨天</em></span>
                </div>
                <div>副总理马凯检查指导......</div>
              </a>
            </li>
            <li class="divider"></li>
            <li>
              <a href="#">
                <div>
                  <strong>Jusfoun</strong>
                  <span class="pull-right text-muted"><em>昨天</em></span>
                </div>
                <div>副总理马凯检查指导......</div>
              </a>
            </li>
            <li class="divider"></li>
            <li>
              <a class="text-center" href="#">
                <strong>阅读所有信息</strong>
                <i class="fa fa-angle-right"></i>
              </a>
            </li>
          </ul>
          <!-- /.dropdown-messages -->
        </li>
        <!-- /.dropdown -->
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="fa fa-tasks fa-fw"></i> <i class="fa fa-caret-down"></i>
          </a>
          <ul class="dropdown-menu dropdown-tasks">
            <li>
              <a href="#">
                <div>
                  <p>
                    <strong>任务 1</strong>
                    <span class="pull-right text-muted">40% 完成</span>
                  </p>
                  <div class="progress progress-striped active">
                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"
                      style="width: 40%">
                      <span class="sr-only">40% 完成 (成功)</span>
                    </div>
                  </div>
                </div>
              </a>
            </li>
            <li class="divider"></li>
            <li>
              <a href="#">
                <div>
                  <p>
                    <strong>任务 2</strong>
                    <span class="pull-right text-muted">20% 完成</span>
                  </p>
                  <div class="progress progress-striped active">
                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                      <span class="sr-only">20% 完成</span>
                    </div>
                  </div>
                </div>
              </a>
            </li>
            <li class="divider"></li>
            <li>
              <a href="#">
                <div>
                  <p>
                    <strong>任务 3</strong>
                    <span class="pull-right text-muted">60% 完成</span>
                  </p>
                  <div class="progress progress-striped active">
                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                      style="width: 60%">
                      <span class="sr-only">60% 完成 (警告)</span>
                    </div>
                  </div>
                </div>
              </a>
            </li>
            <li class="divider"></li>
            <li>
              <a href="#">
                <div>
                  <p>
                    <strong>任务 4</strong>
                    <span class="pull-right text-muted">80% 完成</span>
                  </p>
                  <div class="progress progress-striped active">
                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"
                      style="width: 80%">
                      <span class="sr-only">80% 完成 (危险)</span>
                    </div>
                  </div>
                </div>
              </a>
            </li>
            <li class="divider"></li>
            <li>
              <a class="text-center" href="#">
                <strong>所有任务</strong>
                <i class="fa fa-angle-right"></i>
              </a>
            </li>
          </ul>
          <!-- /.dropdown-tasks -->
        </li>
        <!-- /.dropdown -->
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="fa fa-bell fa-fw"></i> <i class="fa fa-caret-down"></i>
          </a>
          <ul class="dropdown-menu dropdown-alerts">
            <li>
              <a href="#">
                <div>
                  <i class="fa fa-comment fa-fw"></i> 新评论
                  <span class="pull-right text-muted small">4 分钟前</span>
                </div>
              </a>
            </li>
            <li class="divider"></li>
            <li>
              <a href="#">
                <div>
                  <i class="fa fa-twitter fa-fw"></i> 3 个赞
                  <span class="pull-right text-muted small">12 分钟前</span>
                </div>
              </a>
            </li>
            <li class="divider"></li>
            <li>
              <a href="#">
                <div>
                  <i class="fa fa-envelope fa-fw"></i> 发送留言
                  <span class="pull-right text-muted small">4 分钟前</span>
                </div>
              </a>
            </li>
            <li class="divider"></li>
            <li>
              <a href="#">
                <div>
                  <i class="fa fa-tasks fa-fw"></i> 新任务
                  <span class="pull-right text-muted small">4 分钟前</span>
                </div>
              </a>
            </li>
            <li class="divider"></li>
            <li>
              <a href="#">
                <div>
                  <i class="fa fa-upload fa-fw"></i> 服务重新启动
                  <span class="pull-right text-muted small">4 分钟前</span>
                </div>
              </a>
            </li>
            <li class="divider"></li>
            <li>
              <a class="text-center" href="#">
                <strong>查看全部提醒</strong>
                <i class="fa fa-angle-right"></i>
              </a>
            </li>
          </ul>
          <!-- /.dropdown-alerts -->
        </li>
        <!-- /.dropdown -->
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
          </a>
          <ul class="dropdown-menu dropdown-user">
            <li><a href="#"><i class="fa fa-user fa-fw"></i> 用户简介</a>
            </li>
            <li><a href="#"><i class="fa fa-gear fa-fw"></i> 设置</a>
            </li>
            <li class="divider"></li>
            <li><a href="login.html"><i class="fa fa-sign-out fa-fw"></i> 登出</a>
            </li>
          </ul>
          <!-- /.dropdown-user -->
        </li>
        <!-- /.dropdown -->
      </ul>
      <!-- /.navbar-top-links -->

      <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
          <ul class="nav" id="side-menu">
            <li class="sidebar-search">
              <div class="input-group custom-search-form">
                <input type="text" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button">
                    <i class="fa fa-search"></i>
                  </button>
                </span>
              </div>
              <!-- /input-group -->
            </li>
            <li>
              <a href="index.html"><i class="fa fa-dashboard fa-fw"></i> 仪表盘</a>
            </li>
            <li>
              <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i>  图表<span class="fa arrow"></span></a>
              <ul class="nav nav-second-level">
                <li>
                  <a href="echarts.html">Echarts</a>
                </li>
              </ul>
              <!-- /.nav-second-level -->
            </li>
            <li>
              <a href="tables.html"><i class="fa fa-table fa-fw"></i> 表格</a>
            </li>
            <li>
              <a href="forms.html"><i class="fa fa-edit fa-fw"></i> 表单</a>
            </li>
            <li>
              <a href="#"><i class="fa fa-wrench fa-fw"></i> UI 组件<span class="fa arrow"></span></a>
              <ul class="nav nav-second-level">
                <li>
                  <a href="panels-wells.html">面板和Wells</a>
                </li>
                <li>
                  <a href="buttons.html">按钮</a>
                </li>
                <li>
                  <a href="notifications.html">通知</a>
                </li>
                <li>
                  <a href="typography.html">排版</a>
                </li>
                <li>
                  <a href="icons.html"> 图表</a>
                </li>
                <li>
                  <a href="grid.html">栅格</a>
                </li>
                <li>
                  <a href="slider.html">滑块</a>
                </li>
              </ul>
              <!-- /.nav-second-level -->
            </li>
            <li>
              <a href="#"><i class="fa fa-sitemap fa-fw"></i> 多级下拉菜单<span class="fa arrow"></span></a>
              <ul class="nav nav-second-level">
                <li>
                  <a href="#">二级条目</a>
                </li>
                <li>
                  <a href="#">二级条目</a>
                </li>
                <li>
                  <a href="#">我还有子页面哦 <span class="fa arrow"></span></a>
                  <ul class="nav nav-third-level">
                    <li>
                      <a href="#">三级条目</a>
                    </li>
                    <li>
                      <a href="#">三级条目</a>
                    </li>
                    <li>
                      <a href="#">三级条目</a>
                    </li>
                    <li>
                      <a href="#">三级条目</a>
                    </li>
                  </ul>
                  <!-- /.nav-third-level -->
                </li>
              </ul>
              <!-- /.nav-second-level -->
            </li>
            <li class="active">
              <a href="#"><i class="fa fa-files-o fa-fw"></i> 示例页面<span class="fa arrow"></span></a>
              <ul class="nav nav-second-level">
                <li>
                  <a class="active" href="blank.html">空白页面</a>
                </li>
                <li>
                  <a href="login.html">登录页面</a>
                </li>
              </ul>
              <!-- /.nav-second-level -->
            </li>
          </ul>
        </div>
        <!-- /.sidebar-collapse -->
      </div>
      <!-- /.navbar-static-side -->
    </nav>

    <!-- Page Content -->
    <div id="page-wrapper">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12">
            <h1 class="page-header">滑块</h1>
          </div>
          <!-- /.col-lg-12 -->
        </div>
        <div class="row">
          <h3>Simple start and customising basic params</h3>
          <div class="clearfix">
            <div class="col-lg-4">
              <div class="well">
                <pre>
                  <code>
                    $("#range_01").ionRangeSlider();
                  </code>
                </pre>
              </div>
            </div>
            <!-- /.col-lg-4 -->
            <div class="col-lg-7">
              <input type="text" id="range_01" name="range_01" value="" />
            </div>
            <!-- /.col-lg-7 -->
          </div>
          <div class="clearfix">
            <div class="col-lg-4">
              <div class="well">
                <pre>
                  <code>
                    $("#range_02").ionRangeSlider({
                      min:100,
                      max:1000,
                      from:550
                    });
                </code>
                </pre>
              </div>
            </div>
            <!-- /.col-lg-4 -->
            <div class="col-lg-7">
              <input type="text" id="range_02" name="range_02" value="" />
            </div>
            <!-- /.col-lg-7 -->
          </div>
          <div class="clearfix">
            <div class="col-lg-4">
              <div class="well">
                <pre>
                  <code>
                    $("#range_03").ionRangeSlider({
                      type: "double",
                      grid: true,
                      min: 100,
                      max: 1000,
                      from: 550,
                      to: 800,
                      prefix: "$"
                    });
                  </code>
                </pre>
              </div>
            </div>
            <!-- /.col-lg-4 -->
            <div class="col-lg-7">
              <input type="text" id="range_03" name="range_03" value="" />
            </div>
            <!-- /.col-lg-7 -->
          </div>
        </div>
        <!-- /.row -->
        <div class="row">
          <h2>Set up range and step</h2>
          <div class="clearfix">
            <div class="col-lg-4">
              <div class="well">
                <pre>
                  <code>
                    $("#range_04").ionRangeSlider({
                      type: "double",
                      grid: true,
                      min: -1000,
                      max: 1000,
                      from: -550,
                      to: 500
                    });
                  </code>
                </pre>
              </div>
            </div>
            <!-- /.col-lg-4 -->
            <div class="col-lg-7">
              <input type="text" id="range_04" name="range_04" value="" />
            </div>
            <!-- /.col-lg-7 -->
          </div>
          <div class="clearfix">
            <div class="col-lg-4">
              <div class="well">
                <pre>
                  <code>
                    $("#range_05").ionRangeSlider({
                      type: "double",
                      grid: true,
                      min: -1000,
                      max: 1000,
                      from: -550,
                      to: 500,
                      step: 250
                    });
                  </code>
                </pre>
              </div>
            </div>
            <!-- /.col-lg-4 -->
            <div class="col-lg-7">
              <input type="text" id="range_05" name="range_05" value="" />
            </div>
            <!-- /.col-lg-7 -->
          </div>
          <div class="clearfix">
            <div class="col-lg-4">
              <div class="well">
                <pre>
                  <code>
                    $("#range_06").ionRangeSlider({
                      type: "double",
                      grid: true,
                      min: -12.8,
                      max: 12.8,
                      from: -3.2,
                      to: 3.2,
                      step: 0.1
                    });
                  </code>
                </pre>
              </div>
            </div>
            <!-- /.col-lg-4 -->
            <div class="col-lg-7">
              <input type="text" id="range_06" name="range_06" value="" />
            </div>
            <!-- /.col-lg-7 -->
          </div>
        </div>
        <!-- /.row -->
        <div class="row">
          <h2>Using custom values array</h2>
          <div class="clearfix">
            <div class="col-lg-4">
              <div class="well">
                <pre>
                  <code>
                  $("#range_07").ionRangeSlider({
                    type: "double",
                    grid: true,
                    from: 1,
                    to: 5,
                    values: [0, 10, 100, 1000, 10000, 100000]
                  });
                </code>
                </pre>
              </div>
            </div>
            <!-- /.col-lg-4 -->
            <div class="col-lg-7">
              <input type="text" id="range_07" name="range_07" value="" />
            </div>
            <!-- /.col-lg-7 -->
          </div>
          <div class="clearfix">
            <div class="col-lg-4">
              <div class="well">
                <pre>
                  <code>
                  $("#range_08").ionRangeSlider({
                    grid: true,
                    from: 5,
                    values: [
                      "zero", "one", "two", "three", "four", "five", "six", "seven", "eight", "nine", "ten"
                    ]
                  });
                </code>
                </pre>
              </div>
            </div>
            <!-- /.col-lg-4 -->
            <div class="col-lg-7">
              <input type="text" id="range_08" name="range_08" value="" />
            </div>
            <!-- /.col-lg-7 -->
          </div>
          <div class="clearfix">
            <div class="col-lg-4">
              <div class="well">
                <pre>
                  <code>
                  $("#range_09").ionRangeSlider({
                    grid: true,
                    from: 3,
                    values: [
                      "January", "February", "March",
                      "April", "May", "June",
                      "July", "August", "September",
                      "October", "November", "December"
                    ]
                  });
                </code>
                </pre>
              </div>
            </div>
            <!-- /.col-lg-4 -->
            <div class="col-lg-7">
              <input type="text" id="range_09" name="range_09" value="" />
            </div>
            <!-- /.col-lg-7 -->
          </div>
        </div>
        <!-- /.row -->
        <div class="row">
          <h2>Prettify visual look of numbers</h2>
          <div class="clearfix">
            <div class="col-lg-4">
              <div class="well">
                <pre>
                  <code>
                  $("#range_10").ionRangeSlider({
                    grid: true,
                    min: 100,
                    max: 1000000,
                    from: 1000,
                    to: 800,
                    prettify_enabled: false
                  });
                </code>
                </pre>
              </div>
            </div>
            <!-- /.col-lg-4 -->
            <div class="col-lg-7">
              <input type="text" id="range_10" name="range_10" value="" />
            </div>
            <!-- /.col-lg-7 -->
          </div>
          <div class="clearfix">
            <div class="col-lg-4">
              <div class="well">
                <pre>
                  <code>
                  $("#range_11").ionRangeSlider({
                    grid: true,
                    min: 1000,
                    max: 1000000,
                    from: 2000,
                    to: 800,
                    prettify_enabled: true
                  });                
                </code>
                </pre>
              </div>
            </div>
            <!-- /.col-lg-4 -->
            <div class="col-lg-7">
              <input type="text" id="range_11" name="range_11" value="" />
            </div>
            <!-- /.col-lg-7 -->
          </div>
          <div class="clearfix">
            <div class="col-lg-4">
              <div class="well">
                <pre>
                  <code>
                  $("#range_12").ionRangeSlider({
                    grid: true,
                    min: 1000,
                    max: 1000000,
                    from: 30000,
                    to: 1000,
                    prettify_enabled: true,
                    prettify_separator: "."
                  });    
                </code>
                </pre>
              </div>
            </div>
            <!-- /.col-lg-4 -->
            <div class="col-lg-7">
              <input type="text" id="range_12" name="range_12" value="" />
            </div>
            <!-- /.col-lg-7 -->
          </div>
          <div class="clearfix">
            <div class="col-lg-4">
              <div class="well">
                <pre>
                  <code>
                  $("#range_13").ionRangeSlider({
                    grid: true,
                    min: 1000,
                    max: 1000000,
                    from: 40000,
                    to: 1000,
                    prettify_enabled: true,
                    prettify: function (num) {
                      return (Math.random() * num.toFixed(0));
                    }
                  });
                </code>
                </pre>
              </div>
            </div>
            <!-- /.col-lg-4 -->
            <div class="col-lg-7">
              <input type="text" id="range_13" name="range_13" value="" />
            </div>
            <!-- /.col-lg-7 -->
          </div>
        </div>
        <!-- /.row -->
        <div class="row">
          <h2>Decorating numbers</h2>
          <div class="clearfix">
            <div class="col-lg-4">
              <div class="well">
                <pre>
                  <code>
                    $("#range_14").ionRangeSlider({
                      type: "double",
                      grid: true,
                      min: 0,
                      max: 100000,
                      from: 1000,
                      step: 9000,
                      prefix: "$"
                    });
                  </code>
                </pre>
              </div>
            </div>
            <!-- /.col-lg-4 -->
            <div class="col-lg-7">
              <input type="text" id="range_14" name="range_14" value="" />
            </div>
            <!-- /.col-lg-7 -->
          </div>
          <div class="clearfix">
            <div class="col-lg-4">
              <div class="well">
                <pre>
                  <code>
                    $("#range_15").ionRangeSlider({
                      type: "single",
                      grid: true,
                      min: -90,
                      max: 90,
                      from: 0,
                      postfix: "°"
                    });
                  </code>
                </pre>
              </div>
            </div>
            <!-- /.col-lg-4 -->
            <div class="col-lg-7">
              <input type="text" id="range_15" name="range_15" value="" />
            </div>
            <!-- /.col-lg-7 -->
          </div>
          <div class="clearfix">
            <div class="col-lg-4">
              <div class="well">
                <pre>
                  <code>
                    $("#range_16").ionRangeSlider({
                      grid: true,
                      min: 18,
                      max: 70,
                      from: 30,
                      prefix: "Age ",
                      max_postfix: "+"
                    });
                  </code>
                </pre>
              </div>
            </div>
            <!-- /.col-lg-4 -->
            <div class="col-lg-7">
              <input type="text" id="range_16" name="range_16" value="" />
            </div>
            <!-- /.col-lg-7 -->
          </div>
          <div class="clearfix">
            <div class="col-lg-4">
              <div class="well">
                <pre>
                  <code>
                    $("#range_17").ionRangeSlider({
                      type: "double",
                      min: 100,
                      max: 200,
                      from: 145,
                      to: 155,
                      prefix: "Weight: ",
                      postfix: " million pounds",
                      decorate_both: true
                    });
                  </code>
                </pre>
              </div>
            </div>
            <!-- /.col-lg-4 -->
            <div class="col-lg-7">
              <input type="text" id="range_17" name="range_17" value="" />
            </div>
            <!-- /.col-lg-7 -->
          </div>
          <div class="clearfix">
            <div class="col-lg-4">
              <div class="well">
                <pre>
                  <code>
                    $("#range_18").ionRangeSlider({
                      type: "double",
                      min: 100,
                      max: 200,
                      from: 145,
                      to: 155,
                      prefix: "Weight: ",
                      postfix: " million pounds",
                      decorate_both: false
                    });
                  </code>
                </pre>
              </div>
            </div>
            <!-- /.col-lg-4 -->
            <div class="col-lg-7">
              <input type="text" id="range_18" name="range_18" value="" />
            </div>
            <!-- /.col-lg-7 -->
          </div>
          <div class="clearfix">
            <div class="col-lg-4">
              <div class="well">
                <pre>
                  <code>
                    $("#range_19").ionRangeSlider({
                        min: +moment().subtract(1, "years").format("X"),
                        max: +moment().format("X"),
                        from: +moment().subtract(6, "months").format("X"),
                        prettify: function(num) {
                            return moment(num, "X").format("LL");
                        }
                    });
                  </code>
                </pre>
              </div>
            </div>
            <!-- /.col-lg-4 -->
            <div class="col-lg-7">
              <input type="text" id="range_19" name="range_19" value="" />
            </div>
            <!-- /.col-lg-7 -->
          </div>
          <div class="clearfix">
            <div class="col-lg-4">
              <div class="well">
                <pre>
                  <code>
                    $("#range_20").ionRangeSlider({
                      type: "double",
                      min: 1000,
                      max: 5000,
                      from: 2000,
                      to: 4000,
                      step: 100,
                      onStart: function (data) {
                        console.log(data);
                      },
                      onChange: function (data) {
                        console.log(data);
                      },
                      onFinish: function (data) {
                        console.log(data);
                      },
                      onUpdate: function (data) {
                        console.log(data);
                      }
                    });
                  </code>
                </pre>
              </div>
            </div>
            <!-- /.col-lg-4 -->
            <div class="col-lg-7">
              <input type="text" id="range_20" name="range_20" value="" />
              <div>
                <pre id="result_20">
                  <code>
                    {
                      "min": 1000,
                      "max": 5000,
                      "from": 1800,
                      "from_percent": 20,
                      "from_value": null,
                      "to": 3600,
                      "to_percent": 65,
                      "to_value": null
                    }
                  </code>
                </pre>
              </div>
              <!-- /.col-lg-7 -->
            </div>
          </div>
          <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
      </div>
      <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

</body>

</html>